PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=proyecto_final
JWT_SECRET=tu_jwt_secret_aqui
GOOGLE_CLIENT_ID=tu_google_client_id_aqui
CLIENT_URL=http://localhost:5173
DB_STUB=1
RECAPTCHA_SECRET_KEY=tu_recaptcha_secret_key_aqui
